
/* *{ */
    /* border: 1px solid red; */
    /* width: 100%; */
/* } */

.container-table,.deleted-table{
    width: 98.5vw;
    margin-top: 30px;
}

.head{
    width: 30vw;
    background-color: #5f27cd;
    border-radius: 5px 5px 0px 0px;
    color: white;
    font-size: 2vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.row-data>td{
    background-color: #1dd1a1;
    font-family: cursive;
    text-align: center;
}
.head,.row-data>td{
    padding: 1vw;
}


.displayBlock{
    display: none;
}

